#Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyc

# C extensions
*.so



#DB
db.sqlite3

rcs_contributions/migrations
stress_sensitivity/migrations
rcs_optimization/migrations
rcs_contributions/ContribucionRCSActivos_Allianz

