{% extends 'base/base.html' %}

{% load staticfiles %}

{% block content %}

  <div class="container" style="padding-top: 2cm;">
  <p> Valide su identidad </p>
  <div class="row">
  {% if form.errors %}
        <p class="error" >Verifique que sus datos sean correctos.</p>
  {% endif %}

    <form class="col s12 " method="post" style="padding-top: 1cm;">
    {% csrf_token %}
    
      <div class="row">
        <div class="input-field col s6 offset-s2">
        
          <label for="username">Usuario:</label>
          <input  type="text" name="username">
    	   </div>
        
    </div>
   
      <div class="row" >
        <div class="input-field col s6 offset-s2">
        
          <label for="password">Contraseña:</label>
          <input  type="password" name="password">
       
      </div>
    </div>
        
      <div class="row" >
        <div class="input-field col s6 offset-s2">
           
              <input class="waves-effect waves-light btn" type="submit" value="Validar">
              
        </div>
          
        </div>
      </form>

    </div>
  </div>  
{% endblock %}
