{% extends 'base/base.html' %}

{% load staticfiles %}

{% block content %}

    <div class="container" style="padding-top: 2cm;">

	<h1> Stress Sensitivity <h2>
	<div class="row">
	{% if form.errors %}
        <p class="error" >Verifique que sus datos sean correctos.</p>
	{% endif %}
	<form id="form" enctype="multipart/form-data" class="col s12" action="" method="post">{% csrf_token %}
    	<div  class="input-field col s6 ">
		        
				    <label>{{form.a.label}}: *</label>
				    {{form.a}}
				    </div>
		<div  class="input-field col s6 ">	
				    <label>{{form.b.label}}: *</label>
				    {{form.b}}
		</div>
	    <div  class="input-field col s6 ">
				    <label>{{form.c.label}}: *</label>
				    {{form.c}}
		     
		</div>
		<div class="row">		
		   <button id="submit_button" class="btn waves-effect waves-light" type="submit" >Submit
		    	<i class="material-icons right">send</i>
		  	</button>	
        
	    </div>
		</form>
	</div>
    </div>
{% endblock %}
